html,body {
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "游明朝体", "Yu Mincho", "MS PMincho", "MS Mincho", serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #fce2b1;
}

.index-container{
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f6ecd9;
}


h1, h2 {
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

.storeDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding: 20px;
}

/* navbar */
.custom-navbar {
  transition: transform 0.3s ease-in-out;
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.custom-navbar.hidden {
  transform: translateY(-100%);
}

.custom-navbar .nav-link {
  color: white; 
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 8px 12px; 
  margin-bottom: 5px;
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

.custom-navbar .nav-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.navbar-nav .nav-link.active {
  color: #b5b4b3; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8); 
}

.nav-menu{
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  font-weight: bold;
}

#btn-link{
  margin-left: auto;
}

.me-auto {
  margin: auto;
  align-items: center;
  column-gap: 30px;
  font-size: larger;
  font: bolder;
}

.custom-navbar .navbar-toggler {
  border-color: transparent; /* Remove the border */
}

.custom-navbar .navbar-toggler-icon {
 background-color: #edecec;
}

/* footer */
footer {
  background-color: #212529; /* Dark background */
  color: #fff; /* Light text */
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
}

footer a {
  color: #ffc107;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.top-footer{
  display: flex;
}

/* Details */
.details-desc {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically */
  min-height: 100%;       /* Takes up the full height of its parent */
}

/* Menu */
.menu-card {
  height: 30rem;
}

.drink-card {
  height: 10rem;
}

/* News, Pupular Menu */
.center-components{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news{
  background-color: #f8f9fa;  /* Light background color */
  padding: 30px;
  border-radius: 8px;         /* Slightly rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Light shadow for depth */
}

.news-content{
  font-size: larger;
}

.news-content {
  font-size: 1.3rem;
  color: #333;
}

.news h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #343a40; /* Dark text for the title */
}

.important{
  color: red;
}

/* 404 page */
.errorCode {
  font-size: 6rem;
  color: #343a40;
}

.errorMessage {
  font-size: 2rem;
  margin-top: 10px;
}

.errorDescription {
  font-size: 1.2rem;
  margin-top: 15px;
}
